:root {
    --primaryColor: #525fe1;
    --secondColor: #f26b65;
    --thirdColor: #0b104a;
    --textColor: #4A5355;
}

body {
    color: var(--textColor);
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    background: #fff;
    overflow-x: hidden;
}

a {
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: var(--thirdColor) !important;
    transition: all 0.2s ease 0s;
}

p{
    font-family:'DM Sans', sans-serif !important ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0px;
    margin: 0px;
    font-family: 'Jost', sans-serif;
    color: var(--thirdColor);
    font-weight: 400;
}

.text-darky {
    color: var(--thirdColor) !important;

}

.text-muted {
    color: var(--textColor) !important;
}



/* NAVBAR */
@media (min-width: 992px) {
    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }

    .dropdown-item {
        font-weight: 600 !important;
        font-size: 15px;
    }

    .navbar-nav .dropdown-menu {
        display: block;
        background-color: var(--primaryColor);
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.3s ease-in-out;
    }
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: transparent !important;
    color: var(--secondColor) !important;
}

.nav-link {
    color: #0b104a !important;
}

.nav-link:hover {
    color: var(--primaryColor) !important;
}

#header-btn {
    background-color: var(--primaryColor);
}

#header-btn:hover {
    background-color: var(--secondColor);
}

/* END NAVBAR */

/* BREADCRUMB */
.breadcrumb-section{
    background-image:url(../images/img/section-top.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.breadcrumb-item a{
    color: var(--primaryColor) !important;
}
/* END BREADCRUMB */

/* start Top Features */
.top-features {
    background-image: url(../images/img/shape-1.png);
    background-size: cover;
    background-position: center center;
}

.card-num1 {
    color: var(--secondColor);
    background-color: #FDF3FA;
}

.card-num2 {
    color: var(--primaryColor);
    background-color: #ECEDFF;
}

.card-num3 {
    color: #57216c;
    background-color: #FDF3FA;
}

.card-num4 {
    color: #448bb7;
    background-color: #eafeff;
}

/* End Top Features */


/* video section */
.video-area2 {
    background-image: url(../images/img/video.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
}

.video-pulse-container2 {
    width: 60px;
    height: 60px;
    background-color: var(--primaryColor) !important;
    color: #ffffff !important;
    font-size: 1.5rem;
    z-index: 2;
}

.video-pulse-container2 {
    position: relative;
    z-index: 1;
}

.video-filter2 {
    background-color: rgba(0, 0, 0, 0.2);
}

.video-pulse-container2::before,
.video-pulse-container2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    background: rgba(56, 105, 250, 0.25) !important;
    animation: video 25s linear infinite;
    transition: all ease 0.3s;
}

.video-pulse-container2::before {
    width: 140px;
    height: 140px;
}

.video-pulse-container2::after {
    width: 110px;
    height: 110px;
    animation-delay: 2s;
}

@keyframes video {
    0% {
        border-radius: 33% 50% 50% 33%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        border-radius: 50% 33% 33% 50%;
        transform: translate(-50%, -50%) rotate(1800deg);
    }
}

/* end video section */

/* START COUNTER  */

.count-section2 {
    margin-top: -150px;
}

.icon-1 {
    background: #FFEFEE;
    color: #f26b65;
}

.icon-3 {
    background: #FDF3FA;
    color: #57216c;
}

.icon-4 {
    background: #eafeff;
    color: #448bb7;
}

/* END COUNTER */

/* INSTRUCTOR+FREE COURSE */

.if-course-inner {
    min-height: 280px;
    padding: 40px;
}

.if-course-content {
    background: linear-gradient(rgba(26, 25, 54, 0.55), rgba(26, 25, 54, 0.55)), url(../images/img/ins1.png) center/cover no-repeat;
    z-index: 1;
}

.if-course-content2 {
    background: linear-gradient(rgba(26, 25, 54, 0.55), rgba(26, 25, 54, 0.55)), url(../images/img/ins2.png) center/cover no-repeat;
    z-index: 1;
}

/* end INSTRUCTOR+FREE COURSE */

/* Testimonials Section  */

.testi-area2 {
    background-image: url(../images/img/shape-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.student-img2 {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* end Testimonials Section  */



































/* footer */
.footer{
    background-color: #f5f5fd;
}

.social-icon{
    width: 36px !important;
     height: 36px !important;
    
}

.social-icon:hover{
    background-color: var(--primaryColor) !important;
    color: white !important;
}

.footer-links a:hover{
    color: var(--primaryColor) !important;
}
.contact-info i{
color: var(--primaryColor) !important;
}
.contact-info a:hover{
color: var(--primaryColor) !important;
}
.app-buttons img{
    max-width: 140px;
}
/* end footer */
/* copy rights */
.footer-CR{
    background-color: #e8e8ff;
}
.footer-CR a:hover{
    color: var(--primaryColor) !important;
}
/* end copy rights */